/* ---------- DESKTOP --------- */
@media (min-width: 801px) {
  .search-container-mobile {
    display: none;
  }

  .nav-links {
    display: flex;
    justify-content: center;
  }

  .hamburger-menu {
    display: none;
  }
}

/* ---------- SMALLER THAN DESKTOP --------- */
@media (max-width: 1300px) {
  .footer {
    width: 90%;
  }

  .latest-reviews {
    width: 95%;
    margin: auto;
    max-width: 1200px;
  }

  .ty-message {
    width: max-content;
  }
}

@media (max-width: 1300px) and (min-width: 1001px) {
  .about {
    width: 95%;
  }

  .latest-reviews {
    max-width: 1000px;
  }

  .latest-posts {
    grid-gap: 30px;
  }

  .latest-posts img {
    height: 330px;
  }

  .about-images {
    display: block;
    align-self: center;
  }
}

@media (max-width: 1200px) {
  .home {
    margin-top: 0px;
  }

  .hero-image {
    width: 100%;
    background-size: cover;
    background-position: center;
  }
}

/* ---------- TABLET AND PHONE --------- */
@media (max-width: 1000px) {
  .hero-image {
    height: 400px;
  }

  .latest-reviews {
    max-width: 800px;
  }

  .latest-posts {
    grid-gap: 20px;
  }

  .latest-posts img {
    height: 300px;
  }

  .categories {
    font-size: 0.8em;
  }

  .categories li {
    margin-right: 25px;
  }

  .blog-post-container {
    max-width: 780px;
    grid-template-columns: 580px auto;
    grid-gap: 40px;
  }

  .book-review p {
    font-size: 1em;
    margin-bottom: 25px;
  }

  .about {
    grid-template-columns: 1fr;
    margin-top: 40px;
    margin-bottom: 0px;
  }

  .about-heading img {
    width: 40px;
  }

  .about-images {
    grid-area: 3/1;
    margin: 0px;
    width: 100%;
    grid-gap: 5px;
  }

  .about-images img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  .about-copy,
  .about-heading {
    max-width: fit-content;
    margin: 0px 40px;
  }
}

@media (max-width: 800px) {
  .nav-links li {
    display: block;
    margin-bottom: 15px;
  }

  .nav-links {
    padding: 25px;
    position: absolute;
    background-color: #302e2b;
    margin-left: -20px;
  }

  .search-mobile {
    height: 28px;
  }

  .fa-magnifying-glass {
    padding: 5px;
  }

  .hero-image p {
    font-size: 1em;
  }

  .latest-posts {
    grid-template-columns: repeat(2, 1fr);
  }

  .latest-posts img {
    height: 400px;
    width: 100%;
  }

  .slide-button {
    display: none;
  }

  .blog-post-container {
    grid-template-columns: 1fr;
    width: 95%;
    margin-bottom: 50px;
  }

  .blog-post-container img {
    height: 250px;
  }

  .wp-block-pullquote p,
  .wp-block-quote p {
    font-size: 0.8em;
  }

  .wp-block-pullquote,
  .wp-block-quote {
    padding: 10px 30px;
  }

  .sidebar-posts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }

  #sidebar-thumbnail {
    height: 100%;
  }

  .about-copy p,
  .contact p {
    font-size: 1em;
  }

  .contact h2 {
    font-size: 1.2em;
  }

  .search-container {
    display: none;
  }

  h1 {
    font-size: 0.9em;
    line-height: normal;
  }

  .logo {
    align-content: center;
  }

  .logo img {
    height: 45px;
  }
}

/* ---------- PHONE --------- */
@media (max-width: 600px) {
  .hero-image p {
    font-size: 0.8em;
    padding: 15px 30px;
    text-align: center;
  }

  #modalImage {
    border: solid #92a8b6 7px;
  }

  .about-heading img {
    width: 35px;
  }

  .about-images img {
    height: 300px;
  }

  .contact {
    padding: 50px 30px 100px 30px;
  }

  .ty-message {
    width: 100%;
    border: none;
    padding-bottom: 0px;
  }

  .ty-header,
  .ty-text {
    padding: 0% 10%;
  }

  .ty-footer {
    padding-bottom: 0px;
    height: 55px;
  }

  .ty-close {
    width: 100%;
    border-radius: 0px;
    border: none;
  }
}

@media (max-width: 540px) {
  .categories ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 5px;
    padding: 0px;
  }
}

@media (max-width: 500px) {
  .newsletter {
    grid-template-columns: auto auto;
  }

  .newsletter input {
    width: 92%;
  }

  .newsletter button {
    width: auto;
    font-size: 1em;
  }

  .social-media {
    grid-row: 2;
    justify-self: start;
    margin-top: 20px;
  }

  .copyright {
    margin-top: 20px;
  }

  .submit {
    width: 100%;
  }

  .hero-image {
    height: 300px;
  }

  .hero-image p {
    font-size: 0.7em;
    padding: 15px 20px;
  }

  .latest-posts img {
    height: 270px;
  }
}
