h1 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  max-width: 140px;
  line-height: 25px;
}

h2,
h3,
nav,
footer p,
form {
  font-family: "Roboto Condensed", sans-serif;
}

nav {
  background-color: #302e2b;
  color: #fff;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  font-family: "Mukta Vaani", sans-serif;
}

body {
  background-color: #fcf5e5;
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

footer {
  background-color: #302e2b;
  color: #fff;
  height: 180px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a h1 {
  color: #302e2b;
  margin: 10px;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  display: inline-block;
  margin-right: 30px;
}

.current {
  color: #a6fcd3;
}
