h1 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  max-width: 140px;
  line-height: 25px;
}

h2,
h3,
nav,
footer p,
form,
.cta {
  font-family: "Roboto Condensed", sans-serif;
}

nav {
  background-color: #302e2b;
  color: #fff;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  font-family: "Mukta Vaani", sans-serif;
  font-size: 1.2em;
}

h2 {
  text-transform: uppercase;
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: #fcf5e5;
}

main,
.footer {
  max-width: 1200px;
  margin: auto;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a h1 {
  color: #302e2b;
  margin: 10px;
}

.search-container {
  display: flex;
  justify-content: end;
  margin-right: 10px;
  margin-top: -50px;
}

.search {
  width: 56px;
  height: 34px;
  background-color: #92b6a5;
  border-radius: 15%;
  margin-bottom: 10px;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  display: inline-block;
  margin-right: 30px;
}

.current {
  color: #a6fcd3;
}

footer {
  background-color: #302e2b;
  color: #fff;
}

.footer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  padding-top: 20px;
}

.footer p {
  font-size: 0.9em;
}

.social-media {
  justify-self: end;
}

.newsletter {
  display: grid;
  grid-template-columns: 245px auto;
}

.newsletter label {
  margin-bottom: 5px;
}

.newsletter input {
  grid-row: 2;
  height: 32px;
  width: 225px;
  margin-right: 5px;
  border-radius: 5%;
  padding-left: 10px;
  border: solid 1px;
}

.newsletter input:focus {
  outline: none;
}

.newsletter button {
  grid-row: 2;
  width: 110px;
  border: solid black 1px;
  border-radius: 3px;
}

.cta {
  text-transform: uppercase;
  background-color: #92b6a5;
  color: #fff;
  font-size: 1.1em;
  border-radius: 5%;
}

.copyright {
  margin-top: 40px;
  grid-column: span 2;
}

.line {
  color: #fcf5e5;
}

/* ----------- HOME ---------------- */

.home {
  display: grid;
  margin-top: 20px;
}

.hero-image {
  background-image: url(/images/fall-autumn-books.jpg);
  height: 480px;
  background-size: 100%;
  background-position-y: bottom;
  display: grid;
  place-items: center;
  background-repeat: no-repeat;
}

.hero-image p {
  background-color: rgba(217, 211, 197, 0.8);
  margin-bottom: 50px;
  padding: 15px 50px;
  font-family: "Montserrat Alternates", sans-serif;
  border: solid 1px;
}

.home h2 {
  margin-top: 100px;
}

/* ----------- BLOG LIST ---------------- */

.categories {
  background-color: #92a8b6;
  color: #302e2b;
  padding: 12px;
}

.categories ul {
  margin: 0px;
}

/* ----------- ABOUT ---------------- */

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 150px;
  margin-top: 80px;
}

.about-heading {
  display: flex;
  margin-bottom: 30px;
}

.about-heading img {
  width: 50px;
}

.about-heading h2 {
  margin-left: 20px;
  margin-bottom: 5px;
  align-self: flex-end;
}

.about-copy {
  grid-column: 1;
  max-width: 550px;
}

.about-copy p {
  margin-bottom: 30px;
}

.about-images {
  grid-column: 2;
  grid-row: 1 / span 2;
  display: grid;
  grid-gap: 20px;
  margin-left: 50px;
  margin-top: 40px;
}

.about-images img {
  max-width: 100%;
}

/* ----------- CONTACT ---------------- */

.contact {
  max-width: 600px;
  padding: 50px 50px 150px 50px;
}

.contact h2 {
  letter-spacing: 0.2em;
  margin-bottom: 40px;
}

.contact p {
  margin-bottom: 60px;
}

.contact-form {
  display: grid;
}

.contact-form label {
  font-size: 1.1em;
  margin-bottom: 5px;
}

#email,
#name {
  margin-bottom: 25px;
  max-width: 400px;
  background-color: #d9d3c5;
  padding: 10px;
  border: solid 1px;
  border-radius: 5px;
  font-size: 1.2em;
}

#message {
  background-color: #d9d3c5;
  padding: 16px 12px;
  border: solid 1px;
  border-radius: 10px;
  height: 150px;
  margin-bottom: 10px;
  font-size: 1.2em;
}

#name:focus,
#email:focus,
#message:focus {
  outline: none;
  background-color: #9b978f;
}

.submit {
  width: 200px;
  height: 50px;
  border: solid black 1px;
  border-radius: 5px;
  font-size: 1.6em;
}
